.btn-outline-primary {
  border-color: grey;
}



.social-icons ul {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    padding: 0;
    margin: 10px ;
    display: flex;
}
.social-icons ul li {
    list-style: none;
    margin: 0 3px;
}
.social-icons ul li .fab .fas {
    color: #000000;
    font-size: 25px;
    line-height: 35px;
    transition: .5s;
    text-align: center;
}

.social-icons ul li a {
    // position: relative;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    // text-align: center;
    // text-indent: 4pt;
    color: black;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-icons ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-icons ul li:nth-child(1) a:hover {
    background-color: #3A5B95;
    color: white;
}
.social-icons ul li:nth-child(2) a:hover {
    background-color: #4EAEE9;
    color: white;
}
.social-icons ul li:nth-child(3) a:hover {
    background-color: #C10021;
    color: white;
}
.social-icons ul li:nth-child(4) a:hover {
    background-color: #0079B0;
    color: white;
}
.social-icons ul li:nth-child(5) a:hover {
    background-color: #00D375;
    color: white;
}
.social-icons ul li:nth-child(6) a:hover {
    background-color: #00B87C;
    color: white;
}
