
.flat-show-container {
  background-color: #F8F9FA;
  width: 70vW;
  margin: 12px auto;
  padding: 12px;
}

.negative-margin {
  margin-top: -45px;
}

.show-banner {
  height: 350px;
  background-position: center;
  background-size: cover;
}

