
.flat-show-container {
  background-color: #F8F9FA;
  margin: 12px auto;
  padding: 12px;
}

.negative-margin {
  margin-top: -45px;
}

.show-banner {
  height: 350px;
  background-position: center;
  background-size: cover;
}
.flex {
  display: flex;
  justify-content: center
}

.flex-center {
  justify-content: center
}
