.navbar {
  background-color: #F4F4F4;
  justify-content: space-between;
  text-decoration: none;

}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.btn {
  border-color: grey;
  border-radius: 4px;
  color: grey;
}

.btn:hover {
  background-color: grey;
  color: white;
}
